{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">

        <img src="{{ asset('snow2.jpg') }}" style="width: 100%; height:900px">

        <div class="container mt-5" id="tricks">
            <button id="loadBtn">Load more</button>
            <h2 class="mt-3 mb-5">Figures</h2>
            <div class="col-12">
                <div class="row">
                    {% for trick in tricks %}
                        <div class="col-sm-12 col-md-9 col-xl-3">
                            <div style="height: 350px">
                                <h3>{{ trick.name }}</h3>
                                <br>
                                <a href="{{ url('trick', {'id' : trick.id }) }}"><img
                                            src="{{ asset('uploads/tricksFile') }}/{{ trick.imgBackground }}"
                                            width="100%" style="max-height: 240px">
                                </a>
                            </div>
                            <em> crée le {{ trick.dateCreation|date('Y-m-d à H:i:s') }}</em><br>
                            {# get current user #}
                            {% if user.email is defined %}
                                {% if user.email == "cyril@glanum.com" %}
                                    <a href="{{ url('editTrick',{'trick_id' : trick.id}) }}"><i class="fas fa-edit"></i></a>
                                    <a href="{{ url('deleteTrick',{'id' : trick.id}) }}"
                                       onclick=" var result = confirm('Êtes vous sur de vouloir supprimer le média?');return result"><i
                                                class="fas fa-trash"></i></a>
                                {% endif %}
                            {% endif %}
                            <hr>
                        </div>
                    {% endfor %}


                </div>

            </div>
        </div>
    </div>




    <script>
        $(document).ready(function () {
            $(document).on('click', '#loadBtn', function () {

                console.log($)
                console.log('la');
                // var row = Number($('#row').val());
                // var count = Number($('#postCount').val());
                // var limit = 3;
                // row = row + limit;
                // $('#row').val(row);
                $("#loadBtn").val('Loading...');

                var min = 4;
                var max = 8;
                var numpage = 1;

                $.ajax({
                    url: '/getTricks',
                    type: 'POST',
                    data: {"min": min, "max": max, "numpage" : numpage}
                }).done(function (data) {

                    //ajouter les articles

                }).fail(function () {

                    //some code going here if error

                });



            // $.ajax({
            //     type: 'POST',
            //     url: 'loadmore-data.php',
            //     data: 'row=',
            //     success: function (data) {
            //         var rowCount = row + limit;
            //         $('.postList').append(data);
            //         if (rowCount >= count) {
            //             $('#loadBtn').css("display", "none");
            //         } else {
            //             $("#loadBtn").val('Load More');
            //         }
            //     }
            // });
        });
        })
        ;
    </script>

{% endblock %}
