{% extends 'base.html.twig' %}

{# {% block title %}Hello BlogController!{% endblock %} #}

{% block body %}

    <div class="example-wrapper">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}

        <img src="{{ asset('snow2.jpg') }}" style="width: 100%; height:900px">

        <div class="container">
            <div class="col-12">
                <div class="row">


                    {% for trick in tricks %}
                        <div class="col-3">
                            <h2>{{ trick.name }}</h2>
                            {{ trick.description }}
                            <br>
                            <img src="{{ asset('uploads/tricksFile') }}/{{ trick.imgBackground }}" width="100%">
                            <em> crée le {{ trick.dateCreation|date('Y-m-d à H:i:s') }}</em><br>
                            <a href="{{ url('trick', {'trick_id' : trick.id }) }}">Voir le trick</a>
                            {# get current user #}
                            {% if user.email is defined %}
                                {% if user.email == "cyrilg86rr@glanum.comz" %}
                                    <a href="{{ url('editTrick'{'trick_id', trick.id}) }}"> Modifier le trick</a>
                                    {{ user.email }}
                                {% endif %}
                            {% endif %}
                            <hr>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>



{% endblock %}
