{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">

        <img src="{{ asset('snow2.jpg') }}" style="width: 100%; height:900px">

        <div class="container mt-5" id="tricks">
            <h2 class="mt-3 mb-5">Figures</h2>
            <div class="col-12">
                <div class="row" id="tricksPage">
                </div>
                <button id="loadBtn" class="btn btn-dark" style="border-radius: 5px; margin-bottom: 200px;
">Charger plus de tricks
                </button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let url_trick = '{{ url('trick', {'slug' : '--slugTrick--' }) }}';
        let url_edit_trick = '{{ url('editTrick',{'trick_id' : '--idTrick--'}) }}';
        let url_delete_trick = '{{ url('deleteTrick',{'id' : '--idTrick--'}) }}';
        let asset_url = '{{ asset('uploads/tricksFile') }}/--imgBg--';
        let offset = 0;
        let limit = 4;
        let isLoading = false;
        let user = '{{ user }}'
        if (user !== '') {
            user = '{{ user }}';
        }

        function wait() {
        }

        function getTricks() {
            isLoading = true;

            {
                $.ajax({
                    url: '/getTricks',
                    type: 'POST',
                    data: {"min": offset, "max": limit, "user": user}
                }).done(function (data) {
                    offset = data.limit_offset.min
                    limit = data.limit_offset.max

                    $.each(data.result.tricks, function (trick) {

                        var new_template = `<div class="col-sm-12 col-md-9 col-xl-3">
                                <div style="height: 350px">
                                    <h3>` + $(this)[1] + `</h3>
                                    <br>
                                                        <a href="` + url_trick.replaceAll("--slugTrick--", $(this)[6]) + `"><img
                                                src="` + asset_url.replace("--imgBg--", $(this)[2]) + `"
                                                width="100%" style="max-height: 240px">
                                    </a></div>
                                <em> créée le ` + $(this)[3] + `</em><br>
                               {% if user is defined %}
                                {% if user.email is defined %}
                                    {% if 'ROLE_ADMIN' in user.roles %}
                                        <a href="` + url_edit_trick.replaceAll("--idTrick--", $(this)[0]) + `"><i class="fas fa-edit"></i></a>
                                        <a href="` + url_delete_trick.replaceAll("--idTrick--", $(this)[0]) + `"
                                           onclick=" var result = confirm('Êtes vous sur de vouloir supprimer le média?');return result"><i
                                                    class="fas fa-trash"></i></a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}`;

                        if ($(this)[4] == parseInt(user)) {
                            new_template += ` {% if user.email is defined %}{% if 'ROLE_ADMIN' not in user.roles %}<a href="` + url_edit_trick.replaceAll("--idTrick--", $(this)[0]) + `"><i class="fas fa-edit"></i></a>
                                        <a href="` + url_delete_trick.replaceAll("--idTrick--", $(this)[0]) + `"
                                           onclick=" var result = confirm('Êtes vous sur de vouloir supprimer le média?');return result"><i
                                                    class="fas fa-trash"></i></a>{% endif %}{% endif %}`;
                        }

                        new_template += ` <hr>
                            </div>`;

                        $('#tricksPage').append(new_template)
                    });

                    isLoading = false;

                    if (data.result.current >= data.result.totalTricks) {
                        $("#loadBtn").hide();
                    }

                    $("#loadBtn").html('Charger plus de tricks');

                }).fail(function () {


                });
            }
        }

        $(document).ready(function () {

            getTricks();

            $(document).on('click', '#loadBtn', function () {
                $("#loadBtn").html('Chargement...');
                setTimeout(getTricks, 400);
            });
        })
        ;
    </script>

{% endblock %}
