{% extends 'base.html.twig' %}

{% block title %}Ajouter Trick{% endblock %}

{% block body %}

    <div class="container">
        <h1>Ajouter un trick</h1>
        <p style="color: green"> {{ message ?? null }}</p>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.img_background) }}
        {{ form_row(form.description) }}
        {{ form_row(form.groupe) }}
        <button type="submit" class="mt-3 btn btn-dark">Ajouter mon trick</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
